<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="header">
        <div class="logo">
            <div class="logo-icon">
                <span class="mini-logo">

                </span>


            </div>

             <div class="logoheading">
               <h2>Taskify</h2>
                </div>

        </div>
       
        <div class="login">
            <span class="log">
                Login
            </span>
            <span class="signup">
                sign up
            </span>
        </div>


    </div>
    
</body>
</html>