<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styelsheet" href="/public/css/sidebar.css">

</head>
<body>
     <div class="sidebar">
        <div class="sidebar-primary">

            <span class="main-content"><i class="fa-solid fa-circle"></i>All Tasks </span>
            <span class="main-content"> <i class="fa-regular fa-circle"></i>Today</span>
            <span class="main-content"><i class="fa-solid fa-plus"></i>Add Task</span>
            <span class="main-content"><i class="fa-solid fa-check"></i>completed</span>
            


        </div>
        <div class="sideline">

        </div>
        <div class="sidebar-secondary">
            <span class="second-content" >PROJECTS</span>
            <span class="second-content">Work</span>
            <span class="second-content">personal</span>
            <span class="second-content">urgent</span>

        </div>


    </div>
    

    
</body>
</html>