<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is the new page </h1>
    <h1><%=result.title%></h1>
    <div class="update-form">
        <input value="<%=result.title%>">
        <span><button class="update">update</button></span>
    </div>  
    <script src="/js/post.js"  ></script>
</body>
</html>