<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pratice.css">
</head>
<body>
    
     <div class="main">
        <div class="form">
            <!-- <form class="main_form"> -->
                <div class="form_input"><input  class="f_input"placeholder="Write a comment"></div>
                <div class="form_submit"><button data-action="add"class="btn" data-action="add">ADD comment</button></div>
                <div  class="form_display">
                    <div class="comment">

                    </div>
                    <div class="buttons">
                        <div>
                            <button  class="btn">Like<span class="value">(0)</span></button>
                        </div>
                        <div >
                            <button class="btn">Reply</button>
                        </div>
                        <div class="btn">
                            <button class="btn">  Edit</button>
                          
                        </div>
                        <div class="btn">
                            <button class="btn">Delete</button>
                        </div>
                        
                    </div>
                    <div class="reply">
                        <div class="reply_input">
                            <input>

                        </div>
                        <div class="reply_btn">
                            <button>Reply</button>
                        </div>

                    </div>
                </div>
                
                

            



            <!-- </form> -->
        </div>
     </div>
    <script src="/js/pratice.js"></script>
</body>
</html>