<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">

</head>
<body>
    <!-- purposse make websites (mobile ,tablet,desktop) 
     improve use experience
     support different devices and screen sizes
     handle accessibility preference
     question 
     design a responsive layout using media queries create a container
      with boxes 3
      use flexbox for  layout 
      apply a media  query w to change  flex direction from column to row
      align items  to the center on  larger screens
      
     
     -->
        <div class="box">box1</div>
        <div class="box">box1</div>
        <div class="box">box1</div>
</body>
</html>