*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    
    background-color: var(--background-color);
    color:var(--text-primary-color)
}
:root{
    --background-color:#111119;
    --background-primary-color:#6D43DE;

    --background-secondary-color:#B098C6;
    --background-tertiary-color:#63A1C3;

    --background-primary-animated-color:#6D43DE66;
    --background-secondary-animated-color:#B098C666;
    --header-background-animated-color:#6D43DE15;


    --text-primary-color:#F2EEE5;
    --text-inprogress-color:#FED43F;
    --text-completed-color:#E151AF;
    --text-success-color:#16D833;
    --text-urgent-color:#E21B32;


   
    --small-size:20px;
    --xtrasmall-size:10px;
    --large-size:40px;



}
.signup-form{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;

}
.signup{
    height:65%;
    width:30%;
    /* background-color:red; */
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;

    border:1px solid var(--background-primary-animated-color);
    border-radius:1rem;
}

.s_inputs{
    width:90%;
    /* background-color:green;  */
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.s_inputs input{
    width:100%;
    height:2rem;
    border:1px solid var(--background-primary-animated-color);
    background: transparent;
    padding:0 1rem;
    border-radius:5px;
    color:var(--text-primary-color);
}

.s_button button{
    padding:0.4rem 1.2rem;
    border-radius:5px;
    border:1px solid var(--background-primary-animated-color);
    background:transparent;
    color:var(--text-primary-color);
}

.s_button button:hover{
    background-color: var(--background-primary-animated-color);
}
